__pycache__/
*.py[cod]
*$py.class

.Python
env/
.venv/
venv/
ENV/
env.bak/
.venv.bak/
dist/
build/
.eggs/
*.egg-info
pip-log.txt
pip-delete-this-directory.txt
__pypackages__/

.pc/

Liblouis_Table_Editor.egg-info

.DS_Store
Thumbs.db
